[*.cs]

# CS0414: The field 'Void_Opposite_Bounce.split' is assigned but its value is never used
dotnet_diagnostic.CS0414.severity = none
csharp_indent_switch_labels=false

[*.{cs,vb}]
indent_style=space